div.container {
    margin-top: 20px;
}

div.bannershow {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.bannershow h1, div.bannershow p {
    color: rgb(252, 252, 252);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div.carousel-caption{
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div.card-body a:first-child{
    color: rgb(160, 160, 160)
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 96px;
    max-height: 96px;
    border-radius: 25%
}

.avatar-mini {
    max-width: 24px;
    max-height: 24px;
    border-radius: 50%;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: firebrick !important;
}
